.disc {
  z-index: -1;
  width: 20px;
  height: 20px;
  border-radius: 100%;

  &.disc-yellow {
    background: #f6db38;
    box-shadow: inset 0 0 0 3px #c0a91e;
    border: solid 3px #f6db38;
    outline: solid 1px #c0a91e;
  }

  &.disc-red {
    background: #f63838;
    box-shadow: inset 0 0 0 3px #c01e1e;
    border: solid 3px #f63838;
    outline: solid 1px #c01e1e;
  }

  &.disc-active {
    border: 6px solid var(--green);
  }
}